@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* {
  font-family: 'Droid Sans', sans-serif;
}

.img-fluid {
  min-width: 100vw;
}

.home {
  min-height: 100vh;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
 
input[type=number] {
 -moz-appearance: textfield;
}
 
@media (prefers-reduced-motion: no-preference) {
 .App-logo {
   animation: App-logo-spin infinite 20s linear;
 }
}
 
.App-header {
 background-color: #282c34;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}
 
.App-link {
 color: #ffffff;
}

.App{
  text-align: center;
}

.color-nav {
  background-color: #0e76bc;
  padding-left: 5rem;
  padding-right: 2rem;
}


.footer {
  background-color: #0e76bc;
  color: white;
}
 
@keyframes App-logo-spin {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(360deg);
 }
}

.justify-content-center {
  min-height: 100vh;
  background-color: #0e76bc;
}


